parameters:
	ignoreErrors:
		- '#^Constant GROUPS_CORE_DIR not found\.$#'
		- '#^Constant GROUPS_CORE_URL not found\.$#'
		- '#^Constant GROUPS_PLUGIN_URL not found\.$#'
		- identifier: varTag.noVariable
